/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/06 

***********************************************************************************************
		1 通用
		2.基本結構
		  2.1 頁面頂部
		  2.2 網站主選單
		  2.3 版權列
		  2.4 頁面中間區塊
		3.內頁結構
		  3.1 首頁
		  3.2 關於協會
		  3.3 訊息公告
		  3.4 照片專區
		  3.5 影音專區
		  3.6 聯絡我們
		  3.7 掛號系統
		4.列印樣式   		
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	background:#190404;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#2c2c2c}
a:link {text-decoration:none; color:#2c2c2c}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#ad3713}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}
a.btn_go{
	display:block;
	width:169px;
	height:31px;
	padding-top:7px;
	background:url(../images/btn_go.png) no-repeat;
	font-size:0.938em;
	line-height:25px;
	color:#FFF;
	text-align:center}
a.btn_go:hover{
	color: #FFBD5F;
	text-decoration:none;
    background:url(../images/btn_go.png) 0 -38px no-repeat}

/* 2.基本結構
===============================================================================================*/
#wrap{ display:block; width:1276px; margin:0 auto; /*border:2px solid #533a3a*/}

/* 2.1 頁面頂部 */
header{ display:block; width:100%}
.top_bar{ 
   display:block; 
   width:1156px; 
   height:40px;
   background:#3e0b0b;
   padding:10px 60px 0;
   font-size:0.938em;
   line-height:25px;
   color:#FFF}
.top_left, .top_right{display:block; width:50%} 
.top_left{ float:left}
.top_right{ float:right}
.top_right a{
    display:block;
    float:right;
    width:16px;
	height:16px;
	text-indent:-9999px;
	background:url(../images/icon_mail.png) 0 0 no-repeat;
	margin:4px 0 0 10px}
.top_right a:hover{ background:url(../images/icon_mail.png) 0 -16px no-repeat}
.top_right span{ padding-left:380px}	 
.top_banner{ 
   clear:both; 
   display:block;
   position:relative; 
   width:1276px; 
   height:248px;
   background:url(../images/bg_banner.jpg) no-repeat} 
.top_banner h1 a{
	display:block;
	position:absolute;
	top:68px;
	left:108px;
	width:428px;
	height:170px;
	background:url(../images/bg_h1.png) no-repeat;
	text-indent:-9999px}
	
/* 2.2 網站主選單 */
nav{
	display:block; 
	position:absolute;
	top:177px;
	right:60px}
nav h3{ display:none}
.navigation li { position: relative; float: left}
.navigation li a{display: block; height:49px}
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05{ text-indent:-9999px; background: url(../images/btn_nav.png) no-repeat}
.nav_01, .nav_05{ width:112px}
.nav_02, .nav_03, .nav_04{ width:108px}
.nav_01{ background-position: 0 0} 
.nav_01:hover{ background-position: 0 -49px}
.nav_02{ background-position: -112px 0}
.nav_02:hover{ background-position: -112px -49px}
.nav_03{ background-position: -220px 0}
.nav_03:hover{ background-position: -220px -49px}
.nav_04{ background-position: -328px 0}
.nav_04:hover{ background-position: -328px -49px}
.nav_05{ background-position: -436px 0}
.nav_05:hover{ background-position: -436px -49px}
.navigation ul{
	display: none;
	float: left;
	position: absolute;			
	left: 12px;
	z-index:999;	
	margin: 0}
.navigation li:hover > ul{display: block}			
.navigation ul a {
	width:80px;
	height:25px;
	padding: 5px 6px;
	font-size:1em;	
	color: #fff;
	text-align:center;		
	background: #802F1B;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top:3px;
	overflow:hidden}
.navigation ul a:hover { background: #b3743f; text-decoration:none}

/* 跑馬燈 */
.box_marquee{
   display:block;
   width:1156px; 
   height:32px;
   background:#3e0b0b;
   padding:8px 60px 0;
   border-top:1px solid #333}
.box_marquee h3{
	display:block;
	float:left;
	width:58px;
	height:19px;
	background:url(../images/bg_hot.png) no-repeat;
	text-indent:-9999px;
	margin-top:4px}
#demoLeft {
	float:left;
	margin:0 0 0 20px;
	overflow:hidden;
	width: 1060px;
	height:30px}
#demoLeft .indemo {float: left; width:500%}
#marquee_01, #marquee_02{ float: left}
#demoLeft a{
	padding: 0;
	font-size:1em;
	line-height:25px;
	color: #fff;
	margin: 0 50px 0 0}
#demoLeft a:hover{ color:#f6b55b}

   
/* 2.3 版權列 */ 
footer{
   display:block;
   position:relative;
   width:100%;
   height:143px;
   background:url(../images/bg_footer.png) repeat-x;
   padding-top:40px}
footer p{
	text-align:center;
	font-size:0.938em;
	line-height:25px;
	color:#FFF;
	padding-top:15px}
a.maplink{ color:#0a0a96; text-decoration:underline; font-weight:bold; padding-left:10px}
a.maplink:visited{ color:#0a0a96; text-decoration:underline; font-weight:bold}
a.maplink:hover{ color:#fff; text-decoration:none; font-weight:bold}
.to_register{ position:absolute; top:120px; right:67px}		   
	 
/* 2.4 頁面中間區塊 */	   
#contenter{
	display:block;
	position:relative;
	width:1148px;
	padding:40px 64px;
	background:url(../images/bg_container.jpg) repeat-y}


/* 3.掛號系統
===============================================================================================*/
/* 3.1 首頁 */
#box_lastnews{
	display:block;
	width:1156px;
	margin-bottom:30px}
#box_lastphotos{
	display:block;
	float:left;
	width:694px}
#box_lastvideos{
	display:block;
	float:right;
	width:412px;}
.bg_title-01, .bg_title-02, .bg_title-03{ 
    display:block;
	position:relative; 
	height:48px; 
	background: url(../images/bg_title.png) no-repeat}
.bg_title-01{ width:1156px}
.bg_title-02{ width:694px; background-position: 0 -48px}
.bg_title-03{ width:412px; background-position:0 -96px}	

/* 4.列印樣式
===============================================================================================*/