/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/06 

***********************************************************************************************
		1 通用
		2.基本結構
		  2.1 頁面頂部
		  2.2 網站主選單
		  2.3 版權列
		  2.4 頁面中間區塊
		3.內頁結構
		  3.1 首頁
		  3.2 關於協會
		  3.3 訊息公告
		  3.4 照片專區
		  3.5 影音專區
		  3.6 聯絡我們
		  3.7 掛號系統
		4.列印樣式   		
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	background:#190404;
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#2c2c2c}
a:link {text-decoration:none; color:#2c2c2c}
a:visited {text-decoration:none; color:#8c8c8c}
a:hover {text-decoration:underline; color:#ad3713}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/* 2.基本結構
===============================================================================================*/
#wrap{ display:block; width:1276px; margin:0 auto; border:2px solid #533a3a}

/* 2.1 頁面頂部 */
header{ display:block; width:100%}
.top_bar{ 
   display:block; 
   width:1156px; 
   height:40px;
   background:#3e0b0b;
   padding:10px 60px 0;
   font-size:0.938em;
   line-height:25px;
   color:#FFF}
.top_left, .top_right{display:block; width:50%} 
.top_left{ float:left}
.top_right{ float:right}
.top_right a{
    display:block;
    float:right;
    width:16px;
	height:16px;
	text-indent:-9999px;
	background:url(../images/icon_mail.png) 0 0 no-repeat;
	margin:4px 0 0 10px}
.top_right a:hover{ background:url(../images/icon_mail.png) 0 -16px no-repeat}
.top_right span{ padding-left:380px}	 
.top_banner{ 
   clear:both; 
   display:block;
   position:relative; 
   width:1276px; 
   height:248px;
   background:url(../images/bg_banner.jpg) no-repeat} 
.top_banner h1 a{
	display:block;
	position:absolute;
	top:68px;
	left:108px;
	width:428px;
	height:170px;
	background:url(../images/bg_h1.png) no-repeat;
	text-indent:-9999px}
	
/* 2.2 網站主選單 */
nav{
	display:block; 
	position:absolute;
	top:177px;
	right:60px}
nav h3{ display:none}
.navigation li { position: relative; float: left}
.navigation li a{display: block; height:49px}
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05{ text-indent:-9999px; background: url(../images/btn_nav.png) no-repeat}
.nav_01, .nav_05{ width:112px}
.nav_02, .nav_03, .nav_04{ width:108px}
.nav_01{ background-position: 0 0} 
.nav_01:hover{ background-position: 0 -49px}
.nav_02{ background-position: -112px 0}
.nav_02:hover{ background-position: -112px -49px}
.nav_03{ background-position: -220px 0}
.nav_03:hover{ background-position: -220px -49px}
.nav_04{ background-position: -328px 0}
.nav_04:hover{ background-position: -328px -49px}
.nav_05{ background-position: -436px 0}
.nav_05:hover{ background-position: -436px -49px}
.navigation ul{
	display: none;
	float: left;
	position: absolute;			
	left: 12px;
	z-index:999;	
	margin: 0}
.navigation li:hover > ul{display: block}			
.navigation ul a {
	width:80px;
	height:25px;
	padding: 5px 6px;
	font-size:1em;	
	color: #fff;
	text-align:center;		
	background: #5d2314;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top:8px;
	overflow:hidden}
.navigation ul a:hover { background: #b3743f; text-decoration:none}

/* 跑馬燈 */
.box_marquee{
   display:block;
   width:1156px; 
   height:32px;
   background:#3e0b0b;
   padding:8px 60px 0;
   border-top:1px solid #333}
.box_marquee h3{
	display:block;
	float:left;
	width:58px;
	height:19px;
	background:url(../images/bg_hot.png) no-repeat;
	text-indent:-9999px;
	margin-top:4px}
.tickercontainer {
	display:block;
	float:right; 
	width: 1060px; 
	height: 30px; 
	margin: 0; 
	padding: 0}
.tickercontainer .mask { 
	position: relative;
	left: 0;
	top: 0;
	width: 1060px;
	overflow: hidden}
.newsticker { 
	position: relative;
	left: 750px;
	margin: 0;
	padding: 0}
.newsticker li { float: left; margin: 0; padding: 0}
.newsticker a{
	white-space: nowrap;
	padding: 0;
	font-size:1em;
	line-height:25px;
	color: #fff;
	margin: 0 50px 0 0}
.newsticker a:hover{ color:#f6b55b}		
   
    



   


/* 3.掛號系統
===============================================================================================*/

/* 4.列印樣式
===============================================================================================*/